 <h1>Welcome to GroupCourse.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to groupcourse.com,
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>