<h1>About Us</h1>
  <p>
    <a href="http://groupcourse.com/">Group Course</a>
    This site was created because we believe that every person on Earth should have access to an affordable and high quality education. 
    By giving passionate people the freedom to create classes that they are interested in, we believe that we can attain this goal.
    We do this by pairing educators with students through our online web application. 
  </p>
