  <p> <b>Mission:</b>
    "It is our belief that every person should have access to a quality education.
    We aim to achieve this goal by providing a financial incentive for talented individuals to go into teaching.
    Group Course does this by giving teachers the ability to create courses in their local communities, and advertise them to the web.
    We then pair these teachers with students who are searching for relevant classes on our site.
    So, teachers will now have more autonomy and a higher income."-<a href="http://twitter.com/#!/TomCiopp"><i>Thomas Cioppettini</a>
    Founder of Group Course</i>
   </p>
  <div class="center">
    <img src="images/whygroupcourse.png" alt="Why Group Course?"><br /></div>