<h1>About Us</h1>
  <p>
    <h1>The Company:</h1><br>
    
    We believe that every person should have access to a high quality education at a low cost.<br>
    We aim to do this by giving teachers the freedom to determine what they want to teach, and the ability to earn a higher income.<br>
    Group Course does this by giving teachers the ability to create courses online, which they then teach in their local communities.<br>
    We then pair these teachers with students who are searching for relevant classes on our site. So, teachers can now focus on creating an atmosphere of learning instead of worrying about the details.
    </p>
