  <p>
    <img src="images/whygroupcourse.png" alt="Why Group Course?"><br />
    <b>The Company:</b><br>
    We believe that every person should have access to a high quality education at a low cost.
    We aim to do this by giving teachers the freedom to determine what they want to teach, and the ability to earn a higher income.
    Group Course does this by giving teachers the ability to create courses online, which they then teach in their local communities.
    We then pair these teachers with students who are searching for relevant classes on our site. So, teachers can now focus on creating an atmosphere of learning instead of worrying about the details.
    <br><br>
    <b>Our Founding:</b><br>
    Group Course was created in 2011 by Thomas Cioppettini a senior Mathematical Economics major at Wake Forest University. You can follow him on Twitter at the following address: <a href="http://twitter.com/#!/TomCiopp"> Follow TomCiopp</a>
  </p>
