<h1>Contact Us</h1>
  <p>
   You can contact groupcourse by sending an email to groupcourse@gmail.com.<br><br>
   We try to respond with any issues asap, however we request that our customers be patient because our small staff is extremely busy creating new features for the site.<br>
   </p>
