
<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="course">What would you like to Share?</h1>
        <%= render 'shared/course_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <img src="/images/shareknowledge.png" alt="Share" width="925" height="44" /><br />
  <img src="/images/providing.png" alt="Providing high quality education search" width="732" height="45" /><br />
  <img src="/images/dots.png" alt="Series of periods" width="960" height"5" /><br />
  <img src="/images/description.png" alt="Description" width="957" height="75" /><br />
  <img src="/images/dots.png" alt="Series of periods" width="960" height"5" /><br />
<%= link_to signup, signup_path, %>
<% end %>