<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.groupcourse.tumblr.com/">News</a></li>
      <li><a href="http://www.blinknow.org/">Blink Now</a></li>
    </ul>
  </nav>
</footer>